.header {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-top {
  height: var(--header-changed-size);
  box-sizing: border-box;
  padding: var(--space-none) var(--space-xl);
}

.top-bar {
  height: 80px;
  display: flex;
  align-items: center;
}

.top-bar .section-content {
  position: relative;
  height: 100%;
}

.top-bar .section-content .app-menu {
  height: auto;
  left: var(--space-s);
  padding: var(--space-none) 30px;
  position: absolute;
  top: var(--header-changed-size);
  width: 100%;
  z-index: 11;
  box-sizing: border-box;
}

.top-bar .section-content .app-menu::before {
  @apply bg-ggg-gray;
  content: "";
  height: 20px;
  left: 44px;
  position: absolute;
  top: -10px;
  -webkit-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
  width: 20px;
  z-index: 99;
}

.top-bar .section-content .app-menu .app-menu-container {
  @apply bg-ggg-gray;
  max-width: 1322px;
  padding: var(--space-base) var(--space-base) var(--space-base-bottom) var(--space-base-left);
  width: 100%;
  display: flex;
  justify-content: start;
}

.top-bar .section-content .app-menu .app-menu-container a {
  box-sizing: border-box;
  border: var(--border-size-s) solid var(--color-neutral-0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font-size-base);
  height: 120px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: var(--space-none);
  padding: var(--space-xs) var(--space-s);
  margin-right: var(--space-l);
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  width: 120px;
  @apply bg-ggg-gray text-white;
  text-decoration: none;
}

.top-bar .section-content .app-menu .app-menu-container a:hover {
  border: var(--border-size-s) var(--color-pink-primary) solid;
  @apply bg-white text-primary;
}

.top-bar .section-content .app-menu .app-menu-container a:hover .dashboard-image {
  background-image: url("../../../../assets/images/dashboard-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a:hover .users-image {
  background-image: url("../../../../assets/images/users-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a:hover .verification-image {
  background-image: url("../../../../assets/images/verification-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a:hover .archives-image {
  background-image: url("../../../../assets/images/archive-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a:hover .payment-image {
  background-image: url("../../../../assets/images/credit-card-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a:hover .support-image {
  background-image: url("../../../../assets/images/error-pink-icon.svg");
}

.top-bar .section-content .app-menu .app-menu-container a:hover .site-settings-image {
  background-image: url("../../../../assets/images/settings-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a:hover .affiliates-image {
  background-image: url("../../../../assets/images/affiliates-pink-icon.svg");
}

.top-bar .section-content .app-menu .app-menu-container a.active {
  border: var(--border-size-s) var(--color-pink-primary) solid;
  @apply bg-white text-primary;
}

.top-bar .section-content .app-menu .app-menu-container a.active .dashboard-image {
  background-image: url("../../../../assets/images/dashboard-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a.active .users-image {
  background-image: url("../../../../assets/images/users-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a.active .verification-image {
  background-image: url("../../../../assets/images/verification-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a.active .archives-image {
  background-image: url("../../../../assets/images/archive-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a.active .payment-image {
  background-image: url("../../../../assets/images/credit-card-icon-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a.active .support-image {
  background-image: url("../../../../assets/images/error-pink-icon.svg");
}

.top-bar .section-content .app-menu .app-menu-container a.active .site-settings-image {
  background-image: url("../../../../assets/images/settings-pink.svg");
}

.top-bar .section-content .app-menu .app-menu-container a.active .affiliates-image {
  background-image: url("../../../../assets/images/affiliates-pink-icon.svg");
}

.top-bar .section-content .app-menu .app-menu-container a .menu-item {
  font-family: "Hemi Head,Bold Italic";
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  align-items: center;
}

.top-bar .section-content .app-menu .app-menu-container a .menu-item .menu-icon-container {
  flex: 1;
  padding-top: 22px;
}

.site-settings-image {
  background-image: url("../../../../assets/images/settings-icon.svg");
  background-size: cover;
}

.affiliates-image {
  background-image: url("../../../../assets/images/work-bag-icon.svg");
  background-size: cover;
}

.support-image {
  background-image: url("../../../../assets/images/support-icon.svg");
  background-size: cover;
}

.payment-image {
  background-image: url("../../../../assets/images/credit-card-icon.svg");
  background-size: cover;
}

.archives-image {
  background-image: url("../../../../assets/images/archive-icon.svg");
  background-size: cover;
}

.users-image {
  background-image: url("../../../../assets/images/users-icon.svg");
  background-size: cover;
}

.verification-image {
  background-image: url("../../../../assets/images/verification-icon.svg");
  background-size: cover;
}

.dashboard-image {
  background-image: url("../../../../assets/images/dashboard-icon.svg");
  background-size: cover;
}

.header-logo {
  display: flex;
  align-items: center;
  padding-right: var(--space-base);
}

.header-logo i,
.header-logo fa-icon,
.header-logo svg {
  color: var(--color-neutral-0);
  cursor: pointer;
  font-size: var(--font-size-h2);
  margin-right: var(--space-m);
  vertical-align: middle;
}

.header-logo .app-logo {
  cursor: pointer;
  width: auto;
  max-height: unset;
  border-radius: var(--border-radius-soft);
}

.header-top-title {
  align-items: center;
  color: var(--color-neutral-0);
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  font-size: var(--font-size-xs);
  height: 100%;
  padding: var(--space-none);
}

.header .fa {
  line-height: 24px;
  width: 24px;
  text-align: center;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-block {
  display: flex;
  align-items: center;
}

.header-right-block button {
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

.header-right-block .notification {
  font-size: 22px;
  color: var(--color-neutral-0);
  cursor: pointer;
  margin-left: var(--space-s);
}

.header-right-block .menu-dropdown {
  font-size: 14px;
  color: var(--color-neutral-0);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-right-block .menu-dropdown .angle-down {
  width: 24px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-left: var(--space-s);
}

.menu-container {
  background-color: var(--color-neutral-0);
}

.menu-container .menu-inner-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 56px;
  align-items: center;
}

.menu-container .menu-inner-wrapper .user-permissions {
  font-weight: 400;
  line-height: 19.2px;
  color: black;
  margin-left: 250px;
}

.menu-container .menu-inner-wrapper .role {
  font-size: 18px;
  font-weight: 600;
  line-height: 19.2px;
  padding: 0 91px 0 0;
  color: rgba(0, 0, 0, 0.87);
}

::ng-deep .header-menu .mat-mdc-menu-content {
  @apply p-2.5;
  border-radius: var(--border-radius-soft);
  box-shadow: var(--shadow-s);
  color: var(--color-neutral-9);
  max-width: 350px;
  min-width: 142px;
}

::ng-deep .header-menu .mat-mdc-menu-content .menu-item {
  font-family: "Roboto-Regular";
  margin-top: var(--space-s);
  display: inline-flex;
  align-items: center;
  @apply text-white text-sm;
  text-decoration: none;
  width: 100%;
}

::ng-deep .header-menu .mat-mdc-menu-content .menu-item:hover {
  color: var(--color-secondary);
}

::ng-deep .header-menu .mat-mdc-menu-content .menu-item i {
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  margin-right: var(--space-s);
  text-align: center;
  margin-left: 5px;
}

::ng-deep .header-menu .mat-mdc-menu-content .menu-item span {
  margin-left: var(--space-s);
}
