<div
  class="w-72 h-44 relative bg-white rounded-xl shadow border border-slate-100"
>
  <div
    class="left-[23.61px] top-[35.55px] absolute flex-col justify-start items-start inline-flex"
  >
    <div
      class="text-center text-black text-opacity-90 text-xl hemi-head-bold-italic font-normal leading-loose"
    >
      {{ estimateTitle }}
    </div>
    <div class="justify-start items-center inline-flex">
        <div
          [ngClass]="
            vector === 'red'
              ? 'text-center text-red-400 text-2xl hemi-head-bold-italic'
              : 'text-center text-green-400 text-2xl hemi-head-bold-italic'
          "
        >
          {{ pourcentage }}%
        </div>
        <img
          [src]="'/assets/images/vector-' + vector + '.png'"
          class="ml-3.5"
          alt=""
          srcset=""
        />
      </div>
    <div
      class="text-center hemi-head-bold-italic text-black text-opacity-90 text-2xl font-normal leading-loose"
    >
      {{total}}
    </div>
  </div>
</div>
