:host {
  @apply flex flex-1;
}

mat-sidenav.mat-drawer-opened {
  width: 42%;
  min-width: 350px;
  // max-width: 250px;
}

.font-hemi-head {
  font-family: 'Hemi Head,Bold Italic';
}

.content {
  display: flex;
  .header-back-btn {
    display: flex;
    font-size: 22px;
    position: absolute;
    top: 1.2rem;

    mat-icon {
      font-size: 28px;
      color: #c7325f;
    }

    p {
      font-size: 20px;
      text-decoration: underline;
      color: #c7325f;
      margin-left: 8px;
    }
  }
}


.sidebar-header {
  margin: 0 auto;
}
