<div class="footer">
  <div class="footer-content container">
    <div class="footer-inner-wrapper columns columns3 gutter-base">
      <div class="logo-wrapper">
        <a routerLink="/">
          <img src="/assets/images/logo-red.png" alt="red logo" style="height: 20px;" />
        </a>
      </div>

      <div class="about">
        <div>At Ricoh, we unlock the power of information so organizations can unlock the full potential of their people. We’re a leader in information management and digital services, creating competitive advantage for over 1.4 million businesses across the globe.</div>
        <div style="margin-top: var(--space-m);">Our team of 90,000 employees serve a vast array of industries, using an innovative mix of people, processes, and technology to free trapped and hidden insights. We believe having access to the right information translates to better business agility, more human experiences, and the ability to thrive in today’s age of hybrid and borderless work. To us, there’s no such thing as TMI.</div>
      </div>

      <div class="social-links">
        <a class="btn btn-icon btn-plain btn-no-hover" href="https://twitter.com/RicohTweets" target="_blank">
          <i class="icon  fa fa-twitter fa-1x"></i>
          <span class="hidden">https://twitter.com/RicohTweets</span>
        </a>
        <a class="btn btn-icon btn-plain btn-no-hover" href="https://www.youtube.com/channel/UCL0VX9oGB-lg7TT2O3ZNe6Q" target="_blank">
          <i class="icon  fa fa-youtube-play fa-1x"></i>
          <span class="hidden">"https://www.youtube.com/channel/UCL0VX9oGB-lg7TT2O3ZNe6Q"</span>
        </a>
        <!-- <div class="separator"></div> -->
        <!-- <a href="">Site Map</a> -->
      </div>
    </div>
  </div>
</div>
