#action-product-view {
  background-color: #0acf83;
  width: 117px;
  height: 24px;
  border-radius: 3px;
}

#action-product-viewhistory {
  background-color: #d32f2f;
  width: 117px;
  height: 24px;
  border-radius: 3px;
}
