<mat-sidenav-container>
  <mat-sidenav
    class="p-3"
    [position]="position"
    [opened]="sidenavOpened"
    (openedChange)="onSidebarStateChange($event)"
  >
    <div class="container">
      <div class="add-token-container">
        <div class="back-button">
          <img
            src="../../../../assets/images/arrow-left-add-token.svg"
            alt="arrow left"
          />
          <a (click)="closeSideMenu()">Back</a>
        </div>
        <span class="add-token-text">Edit</span>
      </div>
      <div class="elements-container">
        <img class="" [src]="'../../../../assets/images/' + image" />
        <p>{{ username }}</p>
        <form>
          <label>Streamer Level</label>
          <mat-form-field>
            <mat-label>Peach</mat-label>
            <mat-select>
              <mat-option
                *ngFor="let streamerLevel of streamerLevels"
                [value]="streamerLevel"
              >
                {{ streamerLevel }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="cancel-update-buttons">
            <button class="cancel-stroked" (click)="closeSideMenu()">
              Cancel
            </button>
            <button class="update-flat">Update</button>
          </div>
        </form>
      </div>
    </div>

    <ng-content select="[panel]"></ng-content>
  </mat-sidenav>
  <section class="main container">
    <ng-content select="[main]"></ng-content>
  </section>
</mat-sidenav-container>
