<table
  mat-table
  #table
  [dataSource]="dataSource"
  class="mat-elevation-z0"
  matSort
>
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.columnDef"
  >
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{
      column.header
    }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div
        *ngIf="column.isImage === true; else second"
        class="flex justify-start items-center"
      >
        <img class="w-7 h-7" [src]="'/assets/images/' + column.image" />

        <a
          class="ml-2 text-sky-600 text-base font-normal"
          *ngIf="column.columnDef === 'Username'"
          (click)="usernameClick(row)"
        >
          {{ row[column.columnDef] }}
        </a>
        <p
          class="ml-2 text-xs text-black text-opacity-90"
          *ngIf="column.columnDef !== 'Username'"
        >
          {{ row[column.columnDef] }}
        </p>
      </div>
      <ng-template #second>
        <div
          *ngIf="column.isNumberAndImage === true; else third"
          class="text-sm flex items-center justify-center bg-primary/20 w-16 h-7 rounded-lg"
        >
          <img
            class="w-3.5 h-3.5 rounded-lg"
            [src]="'/assets/images/' + column.image"
          />
          <p class="ml-0.5 opacity-70">{{ row[column.columnDef] }}</p>
        </div>
      </ng-template>
      <ng-template #third>
        <div
          *ngIf="column.isThumbnailImage === true; else fourth"
          class="text-sm flex items-center justify-center rounded-lg"
        >
          <img
            class="archive-img"
            mat-card-image
            [src]="'/assets/images/' + row[column.columnDef]"
            alt=""
          />
        </div>
      </ng-template>
      <ng-template #fourth>
        <div
          *ngIf="column.isNumberAndImageWithoutBorder === true; else fifth"
          class="flex text-sm items-center"
        >
          <img
            class="w-3.5 h-3.5 rounded-lg"
            [src]="'/assets/images/' + column.image"
          />
          <p class="ml-0.5 opacity-70">{{ row[column.columnDef] }}</p>
        </div>
      </ng-template>
      <ng-template #fifth>
        <div *ngIf="column.isButton === true; else six">
          <button class="button-style" (click)="buttonClick(row)">
            {{ column.buttonTitle }}
          </button>
        </div>
      </ng-template>

      <ng-template #six>
        <div *ngIf="column.isStatus === true; else seven">
          <div
            *ngIf="row[column.columnDef] === 'Successful'"
            class="px-2 py-1 bg-emerald-500 bg-opacity-10 rounded-3xl"
          >
            <span class="text-green-700 text-sm font-semibold roboto-regular">
              {{ row[column.columnDef] }}
            </span>
          </div>
          <div
            *ngIf="row[column.columnDef] === 'Cancelled'"
            class="px-2 py-1 bg-red-600 bg-opacity-10 rounded-3xl"
          >
            <span class="text-red-600 text-sm font-semibold roboto-regular">
              {{ row[column.columnDef] }}
            </span>
          </div>
          <div
            *ngIf="row[column.columnDef] === 'Pending'"
            class="px-2 py-1 bg-yellow-600 bg-opacity-10 rounded-3xl"
          >
            <span class="text-orange-600 text-sm font-semibold roboto-regular">
              {{ row[column.columnDef] }}
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template #seven>
        {{ row[column.columnDef] }}
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action" *ngIf="isStreamer">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell
      *matCellDef="let element"
      actions-streamer
      [value]="element"
      (buttonAction)="onTableAction($event, element)"
    >
      {{ element.weight }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="archive-action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell
      *matCellDef="let element"
      archive-action-buttons
      [value]="element"
      (buttonAction)="onTableAction($event, element)"
    >
      {{ element.weight }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action" *ngIf="!isStreamer">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell
      *matCellDef="let element"
      actions-buttons
      [value]="element"
      (buttonAction)="onTableAction($event, element)"
    >
      {{ element.weight }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="editDeleteAction">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell
      *matCellDef="let element"
      edit-delete-action-buttons
      [value]="element"
      (buttonAction)="onTableAction($event, element)"
    >
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reviewAction">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element" class="flex justify-end">
      <button class="button-style" (click)="reviewClick(element)">
        Review
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="displayedColumns"
    [ngClass]="
      matheadercolor === 'none'
        ? 'mat-header-background-color'
        : 'mat-header-color'
    "
  ></mat-header-row>
  <mat-row
    (click)="onRowClick(row)"
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{
      'changeRowColor changeSize': isOddRowsChangeColor && isChangeSize,
      'changeRowColor ': isOddRowsChangeColor,
      row: !isOddRowsChangeColor
    }"
  ></mat-row>
</table>

<div *ngIf="dataSource.data.length === 0" class="no-reports-found-section">
  <p class="no-reports-text">No Reports Found</p>
  <p class="no-reports-text">There are currently no user reports to display.</p>
</div>
<mat-paginator
  *ngIf="dataSource.data.length !== 0"
  style-paginator
  [length]="dataSource.data.length"
  [pageSize]="3"
  [pageSizeOptions]="[3, 5, 10, 20]"
>
</mat-paginator>
