<div *ngIf="isVideo">
  <div class="video-header">
    <p class="video-title">
      {{ videoTitle }}
    </p>
    <div class="close-icon" (click)="closeDialog()">
      <img class="btn-delete" src="../../../../assets/images/close.svg" />
    </div>
  </div>

  <video *ngIf="videoUrl" class="video-player" controls>
    <source [src]="videoUrl" type="video/mp4" />
    <source [src]="videoUrl" type="video/ogg" />
  </video>
</div>
<div *ngIf="!isVideo">
  <div class="video-header">
    <p class="video-title">
      {{ videoTitle }}
    </p>
    <div class="close-icon" (click)="closeDialog()">
      <img class="btn-delete" src="../../../../assets/images/close.svg" />
    </div>
  </div>

  <div class="image-container">
    <img
      #imageElement
      class="image-player"
      [src]="videoUrl"
      alt=""
      [style.transform]="getTransform()"
    />
  </div>

  <div
    class="bg-black flex justify-between pt-3 pb-2 pl-10 pr-10"
    id="controllers-button"
  >
    <div class="flex justify-end align-items-end">
      <button class="mr-3" (click)="onZoomOut()">
        <img
          width="24px"
          src="../../../../assets/images/search-zoom-out.svg"
          alt=""
        />
      </button>
      <div class="w-80">
        <mat-slider class="w-80" [max]="2" [min]="1" [step]="0.1">
          <input matSliderThumb [(ngModel)]="zoomValue" #slider />
        </mat-slider>
      </div>
      <button class="ml-3" (click)="onZoomIn()">
        <img
          width="24px"
          src="../../../../assets/images/search-zoom-in.svg"
          alt=""
        />
      </button>
    </div>

    <button class="ml-6" (click)="openImageFullscreen(imageElement)">
      <img src="../../../../assets/images/maximize.svg" alt="" />
    </button>

    <!-- <button (click)="openImageFullscreen(imageElement)"><img src="" alt=""></button> -->
    <!-- </div> -->
  </div>
</div>

<!-- <div *ngIf="!isVideo">
  <div class="video-header">
    <p class="video-title">
      {{ videoTitle }}
    </p>
    <div class="close-icon" (click)="closeDialog()">
      <img class="btn-delete" src="../../../../assets/images/close.svg" />
    </div>
  </div>
  <div class="video-player">
    <img [src]="videoUrl" alt="" />
  </div>
</div> -->
