<app-view-with-sidebar [sideNavTitle]="rolesCreate ? 'Create New Role' : 'Create An Admin'"
  [sidenavOpened]="sidenavOpened" (sidenavOpenedChange)="sidenavOpenedChange($event)">
  <ng-container panel>
    <form [hidden]="!rolesCreate" [formGroup]="roleForm">
  
      <app-input label="Role" formControlName="roleName" placeholder="Enter Role Name"></app-input>
  
      <app-input label="Description" formControlName="roleDescription" placeholder="Describe Role"></app-input>
  
      <app-multi-select [config]="{
                idField: 'value'
              }" formControlName="permissions" label="Permissions" [data]="permissionsList"
        placeholder="Select Perrmission" [defaultSelectedValue]="selectedRoles"></app-multi-select>
    </form>
    <div class="cancel-save-btn">
      <button *ngIf="rolesCreate" (click)="cancel()" class="btn btn-primary cancel-btn">
        Cancel
      </button>
      <button *ngIf="rolesCreate" (click)="createRole()" class="btn btn-primary save-btn">
        <!-- <i class="icon fa fa-save fa-2x"></i> -->
        {{rolesUpdate ? 'Update' : 'Save'}}
      </button>
    </div>
    
    <!-- TODO: Refactor into own components -->
  
    <form [hidden]="rolesCreate" [formGroup]="adminForm">
      <app-input label="Name" formControlName="name" placeholder="Enter Admin Name"></app-input>
      <app-user-name-input label="Enter Admin Email" formControlName="email"
        extensionText="@girlsgonegame.com"></app-user-name-input>
  
      <app-multi-select [config]="{
          'singleSelection': true
          }" formControlName="role" label="Role" [data]="rolesList" [defaultSelectedValue]="selectedAdminRoles"></app-multi-select>
  
    </form>
    <div class="cancel-save-btn">
      <button *ngIf="!rolesCreate" (click)="cancel()" class="btn btn-primary cancel-btn">
        <!-- <i class="icon fa fa-save fa-2x"></i> -->
        Cancel
      </button>
      <button *ngIf="!rolesCreate" (click)="createAdmin()" class="btn btn-primary save-btn">
        <!-- <i class="icon fa fa-save fa-2x"></i> -->
        {{adminUpdate ? 'Update' : 'Save'}}
      </button>
    </div>
    
  </ng-container>
  <ng-container main>
    <div class="content-middle">
      <div class="table-wrapper" style="position: relative;">
        <div class="table-content">
          <div class="table-content-scroller">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChanged($event);">
              <mat-tab label="Roles">
                <ng-template mat-tab-label>
                  <div *ngIf="tabName == 'Admins'" class="disabled-btn"><img class="example-tab-icon" src="../../../../../assets/images/create-disabled.svg"> Roles</div>
                  <div *ngIf="tabName == 'Roles'" class="active-btn"><img class="example-tab-icon" src="../../../../../assets/images/create-active.svg"> Roles</div>
                </ng-template>
                
                <!-- <app-input class="w-full" [(ngModel)]="rolesFilterString"></app-input> -->
                <div class="bg-white mt-4 mb-4 rounded border-1 border-gray searchbar-container">
                  <div class="flex items-center justify-center ">
                    <mat-icon class="mx-2 text-ggg-gray-600 search-icon">search</mat-icon>
                    <input placeholder="Search by: Role names" (keyup)="doFilter($event)" [(ngModel)]="searchText"
                      class="border-none px-2 text-sm text-black text-opacity-60 flex-grow h-12 hemi-head-bold-italic" type="text" />
                  </div>
                </div>
                <div class="role-table">
                  <div class="flex mt-3 mb-4">
                    <h1 class="flex-grow">Roles</h1>
                    <div>
                      <button (click)="openEditPanel()" class="btn btn-primary create-admin-role-btn"
                        style="margin-left: var(--space-base);">
                        <i class="icon fa fa-plus fa-2x"></i>
                        Create Roles
                      </button>
                    </div>
                  </div>
                  <!-- <app-table-common [searchText]="searchText" [tableColumns]="rolesTableColumns" [tableData]="rolesDataSource"[isCreateRole]="true" (onEditRole)="editRole($event)"  (onDeleteRole)="deleteRole($event)">
                  </app-table-common> -->
                  <app-table-common [columns]="rolesTableColumns" [dataset]="rolesDataSource" [isEditDeleteAction]="true"  (action)="onTableAction($event,'role')">
                  </app-table-common>
                </div>
              </mat-tab>
              
              <mat-tab label="Admins">
                <ng-template mat-tab-label>
                  <div *ngIf="tabName == 'Roles'" class="disabled-btn"><img class="example-tab-icon" src="../../../../../assets/images/create-disabled.svg"> Admins</div>
                  <div *ngIf="tabName == 'Admins'" class="active-btn"><img class="example-tab-icon" src="../../../../../assets/images/create-active.svg"> Admins</div>
                </ng-template>
                <!-- <app-input class="w-full" [(ngModel)]="adminsFilterString"></app-input> -->
                <div class="bg-white mt-4 mb-4 rounded border-1 border-gray searchbar-container">
                  <div class="flex items-center justify-center ">
                    <mat-icon class="mx-2 text-ggg-gray-600 search-icon">search</mat-icon>
                    <input placeholder="Search by: Name, Email or Role" (keyup)="doFilter($event)" [(ngModel)]="searchText"
                      class="border-none px-2 text-sm text-black text-opacity-60 flex-grow h-12 hemi-head-bold-italic" type="text" />
                  </div>
                </div>
                <div class="admin-table">
                  <div class="flex mt-3 mb-4">
                    <h1 class="flex-grow">Admins</h1>
                    <div>
                      <button (click)="openAdminCreatePanel()" class="btn btn-primary create-admin-role-btn"
                        style="margin-left: var(--space-base);">
                        <i class="icon fa fa-plus fa-2x"></i>
                        Create Admins
                      </button>
                    </div>
                  </div>
                  <!-- <app-table-common [searchText]="searchText"  [tableColumns]="adminsTableColumns" [tableData]="adminsDataSource" [isCreateAdmin]="true" (onEditAdmin)="editAdmin($event)" (onDeleteAdmin)="deleteAdmin($event)">
                  </app-table-common> -->
                  <app-table-common  [columns]="adminsTableColumns" [dataset]="adminsDataSource" [isEditDeleteAction]="true"  (action)="onTableAction($event, 'admin')">
                  </app-table-common>
                </div>
                
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="table-bottom-navigation">
          <!-- <mat-paginator class="paginator" [pageSizeOptions]="[10, 20, 50]" [length]="totalCustomerCount"
            [showFirstLastButtons]="false" aria-label="Select page of periodic elements">
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </ng-container>
</app-view-with-sidebar>
